# **Case 1: String Conversion and Manipulation**

In [ ]:
###############################################
# Capitalize all letters of the given string expression. Replace comma and period with space and separate word by word.
###############################################
text = "The goal is to turn data into information, and information into insight."
text.upper().replace(",","").replace(".","").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

# **Case 2: List Operations**

In [ ]:
###############################################
# Apply the following steps to the given list.
###############################################
lst = ['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E'] # Given list

In [ ]:
# Step 1: Check the number of elements of the given list.
print("Number of elements of the given list:",len(lst))

Number of elements of the given list: 11

In [ ]:
# Step 2: Call the elements in the first and tenth index.
print(f"First Index:{lst[0]}\nTenth Index:{lst[10]}")

First Index:D
Tenth Index:E

In [ ]:
# Step 3: Create a list ["D", "A", "T", "A"] from the given list.
lst[:4]
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [ ]:
# Step 4: Delete the element in the eighth index.
lst.pop(8)
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [ ]:
# Step 5: Add a new element.
lst.append("S")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'S']

In [ ]:
# Step 6: Add the "N" element again in the eighth index.
lst.insert(7,"N")
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'N', 'E', 'C', 'E', 'S']

# **Case 3: Dictionary Operations**

In [ ]:
###############################################
# Apply the following steps to the given list.
###############################################
dictionary = {'Christian':["America",18],
		'Daisy':["England",12],
		'Antonio':['Spain',22],
		'Dante':['Italy',25]} # Given list

In [ ]:
# Step 1: Access the key values.
print(dictionary.keys())

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [ ]:
# Step 2: Access the values.
print(dictionary.values())

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [ ]:
# Step 3: Update the value 12 of the Daisy key to 13.
dictionary['Daisy'][1] = 13
print(dictionary['Daisy'])

['England', 13]

In [ ]:
# Step 4: Add a new key value Ahmet with value [Turkey,24].
dictionary['Ahmet'] = ['Turkey',24]
print(dictionary['Ahmet'])

['Turkey', 24]

In [ ]:
# Step 5: Delete Antonio from the dictionary.
dictionary.pop('Antonio')
print(dictionary.keys())

dict_keys(['Christian', 'Daisy', 'Dante', 'Ahmet'])

# **Case 4: List Seperating with Function**

In [ ]:
###############################################
# Take a list as argument, assign the odd and even numbers in the list to separate lists, and then write a function that returns using these lists.
###############################################
l = [2, 13, 18, 93, 22]

# Function to separate even and odd numbers in a given list
def list_seperator(main_list):
    """
    Separates the even and odd numbers in a given list.

    Args:
        main_list (list): The list containing numbers to be separated.

    Returns:
        tuple: A tuple containing two lists: even_list and odd_list.
               even_list contains the even numbers from the main_list.
               odd_list contains the odd numbers from the main_list.
    """
    even_list = list()
    odd_list = list()

    # Iterate over each element in the main list
    # Append even numbers to the even_list and odd numbers to the odd_list
    [even_list.append(i) if i % 2 == 0 else odd_list.append(i) for i in main_list]

    return even_list, odd_list

In [ ]:
# Call the list_seperator function with the list 'l'
# Assign the returned values to even_list and odd_list variables
even_list, odd_list = list_seperator(l)

# Print the even_list and odd_list
print("Even List:", even_list)
print("Odd List:", odd_list)

Even List: [2, 18, 22]
Odd List: [13, 93]

# **Case 5: Faculty Defining**

In [ ]:
###############################################
# The names of the top students from the engineering and medical faculties are listed below.
# Respectively, the first three students represent the order of success of the engineering faculty, while the last three students
# belongs to medical school student rankings. Print student rankings by faculty using Enumarate.
###############################################
"""
Expected output:

Engineering faculty 1 . Student: Ali
Engineering faculty 2 . Student: Veli
Engineering faculty 3 . Student: Ayşe
Medicine faculty 1 . Student: Talat
Medicine faculty 2 . Student: Zeynep
Medicine faculty 3 . Student: Ece
"""

students = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [ ]:
for index, student in enumerate(students):
    if index <= 2:
        print(f"Engineering faculty {index+1} . Student: {student}")
    else:
        print(f"Medicine faculty {index-2} . Student: {student}")

Engineering faculty 1 . Student: Ali
Engineering faculty 2 . Student: Veli
Engineering faculty 3 . Student: Ayşe
Medicine faculty 1 . Student: Talat
Medicine faculty 2 . Student: Zeynep
Medicine faculty 3 . Student: Ece

# **Case 6: Multiple List Usage with Zip**

In [ ]:
###############################################
# There are 3 lists below. The lists contain the code, credit and quota information of a course respectively. You should print the course information using Zip.
###############################################
"""
Expected Output:

The quota of the course coded CMP1005 with 3 credits is 30 people.
"""

course_code = ['CMP1005','PSY1001','HUK1005','SEN2204']
credit = [3,4,2,4]
quota = [30,75,150,25]

In [ ]:
for i in zip(course_code, credit, quota):
    print(f"The quota of the course coded {i[0]} with {i[1]} credits is {i[2]} people.")

The quota of the course coded CMP1005 with 3 credits is 30 people.
The quota of the course coded PSY1001 with 4 credits is 75 people.
The quota of the course coded HUK1005 with 2 credits is 150 people.
The quota of the course coded SEN2204 with 4 credits is 25 people.

# **Case 7: Interset Relation Check**

In [ ]:
###############################################
# Below 2 sets are given. You are expected to define the function that will print the common elements of set 1 if it covers set 2 and the difference of set 2 from set 1 if it does not.
###############################################
"""
Expected Output:

{'function', 'qcut', 'miuul', 'lambda'}
"""

set1 = set(['data','python'])
set2 = set(['data','function','qcut','lambda','python','miuul'])

In [ ]:
def set_relation_checker(set1,set2):
    """
    Checks the containment relationship between two sets and determines the elements based on the containment.

    Args:
        set1 (set): The main set to check for containment.
        set2 (set): The other set to check for containment.

    Returns:
        None: Prints the elements based on the containment relationship.

    If set1 is a superset of set2, meaning set1 contains all elements of set2:
        - Prints the intersection of set1 and set2.

    If set1 is not a superset of set2, meaning set2 contains elements not present in set1:
        - Prints the elements in set2 that are not in set1.
    """
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

In [ ]:
set_relation_checker(set1,set2)

{'qcut', 'function', 'miuul', 'lambda'}