# **Case 1: Capitalizing Numeric Variable Names**

In [ ]:
###############################################
# Using the list comprehension structure, capitalize the names of the numeric variables in the car_crashes data and append NUM at the beginning.
###############################################

"""
Expected Output:

["NUM_TOTAL",
"NUM_SPEEDING",
"NUM_ALCOHOL",
"NUM_NOT_DISTRACTED",
"NUM_NO_PREVIOUS",
"NUM_INS_PREMIUM",
"NUM_INS_LOSSES",
"ABBREV",]


*Names of non-numeric variables should also be capitalized
*Only one list comprehension structure should be used
"""

import seaborn as sns
df = sns.load_dataset("car_crashes")
print(df.columns)

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [ ]:
df.columns = ["NUM_"+col.capitalize() if df[col].dtype != "O" else col.capitalize() for col in df.columns]
print(df.columns)

Index(['NUM_Total', 'NUM_Speeding', 'NUM_Alcohol', 'NUM_Not_distracted',
       'NUM_No_previous', 'NUM_Ins_premium', 'NUM_Ins_losses', 'Abbrev'],
      dtype='object')

# **Case 2: Variable Flagging**

In [ ]:
###############################################
# Using list comprehension structure, write "FLAG" at the end of the names of the variables in the car_crashes data that do not contain "no" in their name.
###############################################

"""
Expected Output:

["TOTAL_FLAG",
"SPEEDING_FLAG",
"ALCOHOL_FLAG",
"NOT_DISTRACTED",
"NO_PREVIOUS",
"INS_PREMIUM_FLAG",
"INS_LOSSES_FLAG",
"ABBREV_FLAG"]

*All variable names must be capitalized.
*It should be done with a single list comprehension structure.
"""

import seaborn as sns
df = sns.load_dataset("car_crashes")

In [ ]:
[col.upper()+"_FLAG" if "no" not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

# **Case 3: Variable Selection - Creating New Dataframe**

In [ ]:
###############################################
# Using List Comprehension structure, select the names of the variables that are different from the variable names given below and create a new dataframe.
###############################################

"""
Expected Output:

total	speeding	alcohol	not_distracted	ins_premium	ins_losses
18.8	7.332		5.640	18.048			784.55		145.08
18.1	7.421		4.525	16.290			1053.48		133.93
18.6	6.510		5.208	15.624			899.47		110.35
22.4	4.032		5.824	21.056			827.34		142.39
12.0	4.200		3.360	10.920			878.41		165.63

*First create a new list named new_cols using list comprehension according to the given list.
*Then create a new df by selecting these variables with df[new_cols] and name it new_df.
"""

import seaborn as sns
df = sns.load_dataset("car_crashes")
og_list = ['abbrev','no_previous']

In [ ]:
new_cols = [col for col in df.columns if col not in og_list]
print(new_cols)

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

In [ ]:
new_df = df[new_cols]

In [ ]:
new_df.head()

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63